@import 'normalize'
@import 'typographic'
@import 'settings'

typographic()

body
  margin 0 auto
  padding 0.75em
  background $background-color

  +hd()
    max-width $hd-cutoff

  +desktop()
    max-width $desktop-cutoff

  +tablet()
    max-width $tablet-cutoff

dd
  margin-left 2em
  text-indent -1em

header
  display flex
  align-items center
  +hd()
    lost-center $hd-cutoff

  +desktop()
    lost-center $desktop-cutoff

  +tablet()
    lost-center $tablet-cutoff

  .left
    lost-offset 1/8
    lost-column 3/8
    img
      width 100%

  .right
    lost-column 4/8
    text-align right

  +mobile()
    .left
      lost-offset 1/5
      lost-column 1/5

    .right
      lost-column 3/5
      text-align right

.a-venir
  font-style italic

a
  color red
  text-decoration none

a:hover
  color orange

h1, h3, h4, h5
  margin 0

footer
  font-size 80%
  border-top vr-block(0.333) ridge green
  padding-top vr-block(0.333)
  margin-top vr-block(0.333)

  p
    margin-bottom vr-block(0.5)
    margin-top  vr-block(0.25)

  h4
    font-weight bold

  div:last-child
    text-align right
    +mobile()
      text-align left

    ul
      list-style none

footer, section
  +hd()
    lost-center $hd-cutoff

  +desktop()
    lost-center $desktop-cutoff

  +tablet()
    lost-center $tablet-cutoff

.halves
  div
    lost-column 1/2

.squares
  margin-top vr-block(1)
  margin-bottom vr-block(1)
  text-align center
  align-items center
  div
    lost-column 1/3 3 50px
    margin-top 0.75em
    margin-bottom 0
    transition margin 0.25s ease-in-out

    a
      display: block
      font-weight: bold

    img
      width 100%

    &:hover
      margin-bottom 0.75em
      margin-top 0

      a
        text-shadow: 15px 15px 20px #8b8;

.thirds
  div
    lost-column 1/3

  +mobile()
    div
      lost-column 3/3

.fifths
  div
    lost-column 2/5

  div:first-child
    lost-column 3/5

  +mobile()
    div, div:first-child
      lost-column 5/5


#microsondage
  /*text-align: left;*/
  font-size: 85%;

/*
  +mobile()
    label, .inline, input {
      display: block;
    }
*/

  label {
    display: block;
    font-weight: bold;

    * {
      font-weight: normal;
    }

  }

  label.continue {
    display: inline;
  }

  .inline {
    font-weight: bold;
    label {
      display: inline;
      font-weight: normal;
    }
  }

  .hidden {
    display: none;
  }

  .narrow {
    width: 33%;
  }

  label.left {
    width: 100%;
    text-align: left;

    textarea {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }

  input {
    margin-left: 3%;
  }

  input[type=email], input[type=text] {
    width: 50%;
    display: inline;
  }

  input[type=radio] {
    margin-left: 0.5em;
  }

.merci
  background red
  color $background-color
  padding 1em 3em 1em 1em
  border-radius 1em
  text-align left
  width 80%
  margin 0 auto
  font-weight bold

  .ok-dismiss
    float right
    font-size 80%
    width 2.5em
    text-align center
    //padding 0.5em
    margin 0 -3em 0 0
    line-height 1em
    color black
